In [4]:
import string
s = "Hey! What-s up"
s.translate(str.maketrans('', '', string.punctuation))

'Hey Whats up'

In [1]:
import pandas as pd

In [2]:
base_folder = 'C:/Users/karim/Documents/westgate'
data_folder = base_folder + '/data/training'

In [3]:
accepted_2022_df = pd.read_csv(data_folder + '/loan_outcomes_2022.csv', encoding='latin')

C:\Users\karim\AppData\Local\Temp\ipykernel_3856\2353255881.py:1: DtypeWarning: Columns (741) have mixed types. Specify dtype option on import or set low_memory=False.
  accepted_2022_df = pd.read_csv(data_folder + '/loan_outcomes_2022.csv', encoding='latin')

In [5]:
accepted_2022_df.head()

,Id,account_age_days,active_days_trend,auto_loan_payment_frequency,average_closing_balance_day_after_employer_income,average_closing_balance_day_after_government_income,average_closing_balance_day_after_income,average_closing_balance_day_of_employer_income,average_closing_balance_day_of_government_income,average_closing_balance_day_of_income,...,principal,request_date,total_paid,fees_paid,first_repayment_date,last_repayment_date,repayment_count,loan_application_id,borrower_id,error
0,fe5152b3-de9b-43ad-952e-9d8256fa4dbf,411.0,1.13,NONE_DETECTED,2255.66,1953.4,2223.04,2285.82,1653.16,878.06,...,400,2022-01-03 0:00,799.56,0.0,2022-01-21 0:00,2022-04-29 0:00,8.0,IF1000001770,CID000001770,NaN
1,cca4af83-7da9-4bf1-896b-18f1e7e79cd6,91.0,0.81,NONE_DETECTED,1773.62,1544.31,1406.45,2877.36,1955,539.54,...,300,2022-01-03 0:00,0.00,NaN,NaN,NaN,NaN,IF1000001985,CID000001985,NaN
2,aaf584ec-b257-4d75-8fb6-21c542950515,91.0,0.91,NONE_DETECTED,1391.54,734.61,1297.69,2412.04,791.78,1096.63,...,300,2022-01-03 0:00,587.58,0.0,2022-01-19 0:00,2022-03-30 0:00,6.0,IF1000001938,CID000001938,NaN
3,7188c8d3-7ded-459a-9c6e-313f4938c3b5,91.0,1.01,NONE_DETECTED,324.16,1461.1,459.23,76.91,1732.94,226.30,...,400,2022-01-03 0:00,799.56,0.0,2022-01-13 0:00,2022-04-21 0:00,8.0,IF1000001987,CID000001987,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,300,2022-01-04 0:00,189.86,0.0,2022-01-13 0:00,2022-02-10 0:00,2.0,IF1000002247,CID000002247,NoTransactions

In [6]:
len(accepted_2022_df)

10098

In [7]:
accepted_2023_df = pd.read_csv(data_folder + '/janToNov2023LoansAccepted.csv')

C:\Users\karim\AppData\Local\Temp\ipykernel_3856\612880869.py:1: DtypeWarning: Columns (394) have mixed types. Specify dtype option on import or set low_memory=False.
  accepted_2023_df = pd.read_csv(data_folder + '/janToNov2023LoansAccepted.csv')

In [8]:
accepted_2023_df.head()

,LoanId,dob,gender,request_date,loan_duration,loan_num_repayments,loan_total_paid,borrower_province,total_amount_due,loan_balance,...,sum_wsib_income,student_loan_payments_frequency,telecom_payments_frequency,telecom_payments_average,other_loan_payments_frequency,other_loan_payments_average,utility_payments_frequency,utility_payments_average,average_monthly_insurance_income_complex,MostRecentTransactionDate
0,3971786,1980-09-07,Male,2023-02-03,4,8,799.56,Saskatchewan,799.56,0.00,...,0.0,NONE_DETECTED,Unknown,194.01,BiWeekly,390.64,NONE_DETECTED,0.00,3344.38,12/01/2023
1,3971656,1996-06-04,Male,2023-02-03,4,14,148.41,Ontario,882.61,734.20,...,0.0,NONE_DETECTED,Unknown,16.80,Monthly,367.05,NONE_DETECTED,0.00,0.00,02/03/2023
2,3970820,1993-05-21,Male,2023-02-02,4,15,689.59,New Brunswick,689.59,0.00,...,0.0,Unknown,Unknown,205.95,BiWeekly,189.95,BiWeekly,175.25,13.86,02/02/2023
3,3971029,1990-03-04,Female,2023-02-02,3,6,97.93,Alberta,587.58,489.65,...,0.0,NONE_DETECTED,Unknown,85.25,NONE_DETECTED,0.00,Monthly,45.95,0.00,02/01/2023
4,3971679,1981-07-14,Male,2023-02-03,4,8,791.56,Quebec,791.56,0.00,...,0.0,NONE_DETECTED,Unknown,138.47,BiWeekly,55.69,Unknown,190.83,0.00,09/21/2023

In [9]:
len(accepted_2023_df)

9499

In [10]:
accepted_2023_df['gender'] = accepted_2023_df['gender'].str.lower()