In [75]:
import pandas as pd

In [76]:
month_yyyymm = '2023-04'
month_str = 'apr2023'

In [77]:
basefolder = 'C:/Users/karim/Documents/westgate/data/training/'

In [78]:
data2023_df = pd.read_csv(basefolder + 'janToNov2023LoansAccepted.csv')

C:\Users\karim\AppData\Local\Temp\ipykernel_14244\2292372622.py:1: DtypeWarning: Columns (394) have mixed types. Specify dtype option on import or set low_memory=False.
  data2023_df = pd.read_csv(basefolder + 'janToNov2023LoansAccepted.csv')

In [79]:
month_df = data2023_df.loc[data2023_df['request_date'].str[:7]==month_yyyymm]

In [80]:
len(month_df)

873

In [81]:
month_df.drop_duplicates(inplace=True)

C:\Users\karim\AppData\Local\Temp\ipykernel_14244\2504792140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  month_df.drop_duplicates(inplace=True)

In [82]:
len(month_df)

873

In [83]:
month_df.head()

,LoanId,dob,gender,request_date,loan_duration,loan_num_repayments,loan_total_paid,borrower_province,total_amount_due,loan_balance,...,sum_wsib_income,student_loan_payments_frequency,telecom_payments_frequency,telecom_payments_average,other_loan_payments_frequency,other_loan_payments_average,utility_payments_frequency,utility_payments_average,average_monthly_insurance_income_complex,MostRecentTransactionDate
89,4413176,1995-12-26,Female,2023-04-29,3,7,745.44,British Columbia,745.44,0.00,...,0.0,NONE_DETECTED,Unknown,105.02,Unknown,21.54,Unknown,93.49,0.00,09/01/2023
97,4412868,1979-10-10,Male,2023-04-30,4,7,0.00,Ontario,882.61,882.61,...,0.0,NONE_DETECTED,Monthly,38.22,NONE_DETECTED,0.00,Unknown,36.67,0.00,04/29/2023
98,4412575,1979-03-02,Female,2023-04-27,4,7,0.00,Manitoba,932.61,932.61,...,0.0,NONE_DETECTED,Unknown,55.15,BiWeekly,216.06,Unknown,100.00,63.76,04/25/2023
101,4412759,1992-09-27,Female,2023-04-30,4,8,355.40,Ontario,971.56,616.16,...,0.0,NONE_DETECTED,Unknown,121.83,Unknown,95.20,NONE_DETECTED,0.00,0.00,04/25/2023
105,4412640,1986-04-24,Male,2023-04-30,4,7,869.80,British Columbia,869.80,0.00,...,0.0,NONE_DETECTED,Unknown,142.34,BiWeekly,289.66,NONE_DETECTED,0.00,0.00,10/20/2023

In [84]:
month_df.set_index('LoanId', inplace=True)

In [85]:
loan_outcomes_df = pd.read_csv(basefolder + 'loan_outcomes_' + month_str + '.csv')

In [86]:
loan_outcomes_df['profit'] = loan_outcomes_df['Paid Amount'] - loan_outcomes_df['Principal Amount']

In [87]:
loan_outcomes_df.set_index('Loan Id', inplace=True)

In [88]:
loan_outcomes_df.head()

,Loan #,Loan Duration,Maturity Date,First Name,Last Name,Full Name,Released Date,Principal Amount,Disbursed By,Paid Amount,...,Total Penalty Paid,Pending Due,Pending Fees Due,Pending Interest Due,Pending Penalty Due,Pending Principal Due,Balance Amount,Loan Status Name,Loan Product,profit
Loan Id,,,,,,,,,,,,,,,,,,,,,
4267924,IF10000042807,4 Months,07/06/2023,Bupinder,Kohli,Bupinder Kohli,04/01/2023,375.0,Online Transfer,698.59,...,0.0,0.00,NaN,NaN,NaN,NaN,0.00,Fully Paid,IF-Installment loan,323.59
4267930,IF100000173839,4 Months,07/21/2023,Liberty,Sison,Liberty Sison,04/01/2023,375.0,Online Transfer,778.59,...,80.0,0.00,NaN,NaN,NaN,NaN,0.00,Fully Paid,IF-Installment loan,403.59
4267977,IF100000174756,3 Months,06/23/2023,Kassandra,Joseph,Kassandra Joseph,04/01/2023,300.0,Online Transfer,0.00,...,0.0,593.58,276.0,17.58,0.0,300.0,593.58,Not Taken Up,IF-Installment loan,-300.00
4267993,IF100000173880,4 Months,07/21/2023,Andre,Trenchfield,Andre Trenchfield,04/01/2023,375.0,Online Transfer,778.59,...,80.0,0.00,276.0,17.58,0.0,300.0,0.00,Fully Paid,IF-Installment loan,403.59
4268017,IF100000174525,4 Months,07/05/2023,Tara,Amudipe,Tara Amudipe,04/01/2023,375.0,Online Transfer,698.59,...,0.0,0.00,276.0,17.58,0.0,300.0,0.00,Fully Paid,IF-Installment loan,323.59

In [89]:
merged_df = pd.merge(month_df, loan_outcomes_df, 
                     left_index=True, right_index=True, 
                     how='inner',
                     validate='one_to_one')

In [90]:
len(merged_df)

842

In [91]:
merged_df.reset_index(inplace=True)

merged_df.rename(columns={
    'Released Date': 'release_date',
    'Principal Amount': 'principal',
    'Paid Amount': 'total_paid',
    'index': 'Id',
    'Loan Status Name': 'status'
    },
    inplace=True
)

In [92]:
merged_df.head()

,Id,dob,gender,request_date,loan_duration,loan_num_repayments,loan_total_paid,borrower_province,total_amount_due,loan_balance,...,Total Penalty Paid,Pending Due,Pending Fees Due,Pending Interest Due,Pending Penalty Due,Pending Principal Due,Balance Amount,status,Loan Product,profit
0,4268205,1983-10-27,Male,2023-04-01,3,6,98.93,Alberta,783.58,684.65,...,0.0,684.65,230.0,14.65,190.0,250.0,684.65,Defaulted,IF-Installment loan,-201.07
1,4268192,2005-03-29,Male,2023-04-01,4,16,799.56,Ontario,799.56,0.00,...,0.0,0.00,276.0,17.58,0.0,300.0,0.00,Fully Paid,IF-Installment loan,399.56
2,4268131,1994-06-20,Female,2023-04-01,3,6,0.00,Nova Scotia,642.58,642.58,...,0.0,642.58,270.0,17.58,55.0,300.0,642.58,Defaulted,IF-Installment loan,-300.00
3,4268127,1989-03-23,Male,2023-04-01,4,8,799.56,British Columbia,799.56,0.00,...,0.0,0.00,368.0,31.56,0.0,400.0,0.00,Fully Paid,IF-Installment loan,399.56
4,4268157,1994-09-18,Female,2023-04-01,4,8,559.88,New Brunswick,559.88,0.00,...,35.0,0.00,276.0,17.58,0.0,300.0,0.00,Fully Paid,IF-Installment loan,159.88

In [93]:
merged_df['status'].value_counts()

status
Fully Paid           524
Defaulted            240
Write-Off             46
METCREDIT             24
Restructured           6
Credit Counseling      2
Name: count, dtype: int64

In [94]:
merged_df.head()

,Id,dob,gender,request_date,loan_duration,loan_num_repayments,loan_total_paid,borrower_province,total_amount_due,loan_balance,...,Total Penalty Paid,Pending Due,Pending Fees Due,Pending Interest Due,Pending Penalty Due,Pending Principal Due,Balance Amount,status,Loan Product,profit
0,4268205,1983-10-27,Male,2023-04-01,3,6,98.93,Alberta,783.58,684.65,...,0.0,684.65,230.0,14.65,190.0,250.0,684.65,Defaulted,IF-Installment loan,-201.07
1,4268192,2005-03-29,Male,2023-04-01,4,16,799.56,Ontario,799.56,0.00,...,0.0,0.00,276.0,17.58,0.0,300.0,0.00,Fully Paid,IF-Installment loan,399.56
2,4268131,1994-06-20,Female,2023-04-01,3,6,0.00,Nova Scotia,642.58,642.58,...,0.0,642.58,270.0,17.58,55.0,300.0,642.58,Defaulted,IF-Installment loan,-300.00
3,4268127,1989-03-23,Male,2023-04-01,4,8,799.56,British Columbia,799.56,0.00,...,0.0,0.00,368.0,31.56,0.0,400.0,0.00,Fully Paid,IF-Installment loan,399.56
4,4268157,1994-09-18,Female,2023-04-01,4,8,559.88,New Brunswick,559.88,0.00,...,35.0,0.00,276.0,17.58,0.0,300.0,0.00,Fully Paid,IF-Installment loan,159.88

In [95]:
merged_df[['Id', 'principal', 'total_paid', 'profit', 'status']].head()

        Id  principal  total_paid  profit      status
0  4268205      300.0       98.93 -201.07   Defaulted
1  4268192      400.0      799.56  399.56  Fully Paid
2  4268131      300.0        0.00 -300.00   Defaulted
3  4268127      400.0      799.56  399.56  Fully Paid
4  4268157      400.0      559.88  159.88  Fully Paid

In [97]:
merged_df.to_csv(basefolder + 'loan_outcomes_' + month_str + '.csv', index=False)