In [40]:
import pandas as pd

In [229]:
month_yyyymm = '2023-01'
month_str = 'jan2023'

In [230]:
basefolder = 'C:/Users/karim/Documents/westgate/data/'

In [231]:
data2023_df = pd.read_csv(basefolder + 'janToNov2023Loansv2.csv', encoding='latin')

C:\Users\karim\AppData\Local\Temp\ipykernel_36624\1458462633.py:1: DtypeWarning: Columns (387) have mixed types. Specify dtype option on import or set low_memory=False.
  data2023_df = pd.read_csv(basefolder + 'janToNov2023Loansv2.csv', encoding='latin')

In [232]:
month_df = data2023_df.loc[data2023_df['request_date'].str[:7]==month_yyyymm]

In [233]:
len(month_df)

1045

In [234]:
month_df.drop_duplicates(inplace=True)

C:\Users\karim\AppData\Local\Temp\ipykernel_36624\2504792140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  month_df.drop_duplicates(inplace=True)

In [235]:
len(month_df)

1040

In [236]:
month_df.set_index('loanId', inplace=True)

In [237]:
month_df.head()

,dob,gender,request_date,account_age_days,active_days_trend,auto_loan_payment_frequency,average_closing_balance_day_after_employer_income,average_closing_balance_day_after_government_income,average_closing_balance_day_after_income,average_closing_balance_day_of_employer_income,...,sum_wsib_income,student_loan_payments_frequency,telecom_payments_frequency,telecom_payments_average,other_loan_payments_frequency,other_loan_payments_average,utility_payments_frequency,utility_payments_average,average_monthly_insurance_income_complex,MostRecentTransactionDate
loanId,,,,,,,,,,,,,,,,,,,,,
3970620,1991-09-15,Female,2023-01-19,366.0,1.03,Monthly,364.90,85.89,297.83,329.04,...,0.0,Unknown,Unknown,143.38,BiWeekly,293.26,NONE_DETECTED,0.00,7.27,05/25/2023
3986502,1991-11-07,Female,2023-01-31,365.0,1.02,NONE_DETECTED,381.74,269.92,276.69,411.25,...,0.0,NONE_DETECTED,Unknown,130.27,NONE_DETECTED,0.00,NONE_DETECTED,0.00,0.00,06/19/2023
3813879,1989-08-16,Male,2023-01-02,366.0,1.06,Weekly,996.93,-55.76,835.17,1153.10,...,0.0,NONE_DETECTED,NONE_DETECTED,0.00,Weekly,83.37,NONE_DETECTED,0.00,0.00,08/29/2023
3814985,2004-02-04,Male,2023-01-03,365.0,0.74,NONE_DETECTED,1178.11,1.26,1114.36,1249.69,...,0.0,NONE_DETECTED,Monthly,40.40,NONE_DETECTED,0.00,Unknown,76.93,0.40,04/21/2023
3813995,1992-08-21,Male,2023-01-02,366.0,1.08,NONE_DETECTED,522.96,170.62,429.96,525.33,...,0.0,NONE_DETECTED,Unknown,163.80,BiWeekly,279.30,Unknown,157.44,1.08,08/07/2023

In [238]:
loan_outcomes_df = pd.read_csv(basefolder + 'loans_branch-if-' + month_str + '.csv')

In [239]:
loan_outcomes_df['profit'] = loan_outcomes_df['Paid Amount'] - loan_outcomes_df['Principal Amount']

In [240]:
loan_outcomes_df.set_index('Loan Id', inplace=True)

In [241]:
loan_outcomes_df.head()

,Loan #,Loan Duration,Maturity Date,First Name,Last Name,Full Name,Released Date,Principal Amount,Disbursed By,Paid Amount,...,Total Penalty Balance,Total Penalty Paid,Pending Due,Pending Fees Due,Pending Interest Due,Pending Penalty Due,Pending Principal Due,Balance Amount,Loan Status Name,profit
Loan Id,,,,,,,,,,,,,,,,,,,,,
3813556,IF100000138076,4 Months,05/04/2023,Kenan Osman,Demirbas,Kenan Osman Demirbas,01/03/2023,400.0,Online Transfer,215.30,...,190.0,0.0,728.26,230.0,22.54,190.0,285.72,728.26,Defaulted,-184.70
3813600,IF100000137272,4 Months,05/19/2023,Nellie Precious Michele,Atleo,Nellie Precious Michele Atleo,01/03/2023,400.0,Online Transfer,0.00,...,190.0,0.0,989.56,368.0,31.56,190.0,400.00,989.56,Defaulted,-400.00
3813610,IF100000214835,4 Months,05/12/2023,Flora J.,Ninine,Flora J. Ninine,01/03/2023,350.0,Online Transfer,882.61,...,0.0,190.0,0.00,368.0,31.56,190.0,400.00,0.00,Fully Paid,532.61
3813639,IF100000138270,4 Months,05/05/2023,Nicole,Susanne Joly,Nicole Susanne Joly,01/03/2023,400.0,Online Transfer,879.56,...,0.0,80.0,0.00,368.0,31.56,190.0,400.00,0.00,Fully Paid,479.56
3813738,IF100000138088,4 Months,04/21/2023,Cielo,Lat,Cielo Lat,01/03/2023,400.0,Online Transfer,0.00,...,0.0,0.0,799.56,368.0,31.56,0.0,400.00,799.56,Not Taken Up,-400.00

In [242]:
merged_df = pd.merge(month_df, loan_outcomes_df, 
                     left_index=True, right_index=True, 
                     how='inner',
                     validate='one_to_one')

In [243]:
len(merged_df)

1018

In [244]:
merged_df.reset_index(inplace=True)

merged_df.rename(columns={
    'Released Date': 'release_date',
    'Principal Amount': 'principal',
    'Paid Amount': 'total_paid',
    'index': 'Id',
    'Loan Status Name': 'status'
    },
    inplace=True
)

In [245]:
merged_df.head()

,Id,dob,gender,request_date,account_age_days,active_days_trend,auto_loan_payment_frequency,average_closing_balance_day_after_employer_income,average_closing_balance_day_after_government_income,average_closing_balance_day_after_income,...,Total Penalty Balance,Total Penalty Paid,Pending Due,Pending Fees Due,Pending Interest Due,Pending Penalty Due,Pending Principal Due,Balance Amount,status,profit
0,3813879,1989-08-16,Male,2023-01-02,366.0,1.06,Weekly,996.93,-55.76,835.17,...,0.0,190.0,0.00,46.0,4.50,135.0,57.16,0.00,Fully Paid,534.59
1,3814985,2004-02-04,Male,2023-01-03,365.0,0.74,NONE_DETECTED,1178.11,1.26,1114.36,...,0.0,0.0,0.00,144.0,19.69,190.0,250.00,0.00,Fully Paid,342.61
2,3813995,1992-08-21,Male,2023-01-02,366.0,1.08,NONE_DETECTED,522.96,170.62,429.96,...,0.0,0.0,0.00,184.0,18.03,190.0,228.58,0.00,Fully Paid,399.56
3,3817889,1971-01-08,Female,2023-01-03,365.0,1.07,NONE_DETECTED,366.32,351.06,401.50,...,0.0,0.0,0.00,315.0,29.59,135.0,375.00,0.00,Fully Paid,399.56
4,3814070,1961-12-30,Male,2023-01-02,375.0,1.04,NONE_DETECTED,0.00,562.66,585.77,...,190.0,0.0,943.56,322.0,31.56,190.0,400.00,943.56,Defaulted,-400.00

In [246]:
data_cols_df = pd.read_csv(basefolder + '/AttributesLoans2022-columns.csv')

In [247]:
cols = data_cols_df['Id']

In [248]:
set(cols) - set(merged_df.columns)

{'borrower_id',
 'error',
 'fees_paid',
 'first_repayment_date',
 'last_repayment_date',
 'loan_application_id',
 'loginId',
 'repayment_count',
 'requestId'}

In [249]:
merged_df['status'].value_counts()

status
Fully Paid           690
Defaulted            256
Write-Off             47
METCREDIT             18
Restructured           5
Credit Counseling      2
Name: count, dtype: int64

In [250]:
merged_df['profit'] = merged_df['total_paid'] - merged_df['principal']

In [251]:
merged_df.to_csv(basefolder + '/training/default/loan_outcomes_' + month_str + '.csv', index=False)